body {
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}

.help {
    font-size: 50px;
    text-align: center;
    color: aliceblue;
    padding: 150px 150px 0px 150px;
}

.see {
    text-align: center;
    color: aliceblue;

}

.button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    text-align: center;
    color: azure;
    font-weight: 700;

}

.none {
    background-image: url(images/donation1.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    height: 100vh;
    background-position: center;
    padding: 0%;
}

#done {
    text-align: center;
    padding: 0;
    margin: 0;

}

* {
    margin: 0;
    padding: 0;

}

.to {
    font-size: 25px;
    text-align: center;
    color: black;
    padding: 100px 150px 25px 150px;
}

.the {
    text-align: center;
    color: black;

}

.container {
    width: 100%;
    height: auto;
    padding: 0px;

    display: flex;
    flex-direction: row;
    justify-content: center;




}

.box {
    width: 90px;
    height: 70px;
    margin: 15px 5px;
    background-image: linear-gradient(grey, white);
    box-sizing: border-box;
    font-size: 20px;
    transition: 1s;
    border-radius: 5px;


}

.box:hover {
    transform: scale(1.3);
    background-image: linear-gradient(red, pink);
    box-shadow: 2px 2px 2px #000;
    z-index: 2;



}

.pro {
    text-align: center;
    padding: 40px;
}

.dig {
    text-decoration: none;
    padding: 10px 40px;
    border-radius: 5px;
    text-align: center;
    color: whitesmoke;
    font-weight: 700px;
    background-image: linear-gradient(orange, tomato);

}

.lan {
    font-size: 25px;
    text-align: center;
    color: black;
    padding: 100px 150px 25px 150px;
}

.mos {
    text-align: center;
    color: black;
}

.need {
    display: flex;
    margin-bottom: 150px;
}

.tom {
    width: 50%;
    padding-left: 20px;
    box-shadow: 15px 10px 10px red;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 5px;
    border: 7px solid tomato;
    margin-top: 5%;
    background-color: lightcoral;

}

.fa-solid {
    font-size: 30px;
}

.masruf {
    display: flex;
}

.hub {
    width: 50%;
    padding-left: 5%;
}

.yt {

    width: 100%;
}

.hi {
    font-weight: 700;
    font-size: 40px;
}

.fart {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px 20px;
    color: aliceblue;
    font-weight: 700;
    border-radius: 5px;
}

.chao {
    text-align: center;
    font-weight: 700;
    padding-top: 80px;
}

.opine {
    padding-top: 40px;
}

.fie {
    text-align: center;
    padding-top: 40px;
}

.gr {
    text-align: center;
}

.fox {
    width: 500px;
    height: 500px;
    background: rgb(199, 174, 174);
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;


}

.form-box {
    background: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 10px 10px 15px rgb(199, 174, 174), -10px -10px 15px rgb(199, 174, 174);

}

.form-box input {
    font-size: 18px;
    border: none;
    outline: none;
    padding: 15px 10px;
    color: #000;
    background: #ddd;


}

.form-box button {
    font-size: 18px;
    border: none;
    background: rgb(36, 36, 66);
    padding: 15px 20px;
    color: #fff;
    border-radius: 5px;

}

.nine {
    background-position: center;
    justify-content: center;
    align-content: center;
    background-size: cover;
    display: flex;
    padding-top: 50px;
    padding-bottom: 120px;




}

.vote {
    background: #fcfcfc;
}

.ri {



    background: #111;
    height: auto;
    width: 100vw;
    padding-top: 40px;
    color: #fff;
    padding-bottom: 40px;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;



}

.ki {

    color: coral;
}